<div class="container">

        <h2 class="pt-font">Choose a date</h2>
    

      <input type="date" id="start" name="trip-start">



        <div>
            <table class="table mt-5">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Train</th>
                    <th scope="col">Departure Time</th>
                    <th scope="col">Arriving Time</th>
                    <th scope="col">View Details</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>IRN7112</td>
                    <td>08:00</td>
                    <td>19:00</td>
                    <td>Click</td>
                  </tr>
                  

                </tbody>
              </table>
        </div>

</div>