<div class="container">

        <h2 class="pt-font">Choose a date</h2>
    
  <form (submit)="submit(submitForm)" #submitForm="ngForm">
      <input type="date" #trainsdata="ngModel" name="trainsdata" ngModel>
      <br>
      <button type="submit" class="btn btn-primary mt-3">Show trains</button>

    </form>
        <div *ngIf="trains">
            <table class="table mt-5">
                <thead>
                  <tr>
                    <th scope="col">Train</th>
                    <th scope="col">Day</th>
                    <th scope="col">Departure Time</th>
                    <th scope="col">Arriving Time</th>
                    <th scope="col">View Details</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let train of trainsByDate">
                    <td>{{train.name}}</td>
                    <td>{{train.dayOfWeek | date}}</td>
                    <td>08:00</td> <!-- To be updated with correct response from DB --> 
                    <td>19:00</td>  <!-- To be updated with correct response from DB -->
                    <td><a routerLink="/traindetails/{{train.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                      <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg></a></td>
                  </tr>
                </tbody>
              </table>
        </div>

</div>