<div class="container">

    <div *ngIf="train.name">
        <h2 class="pt-font text-align-center">{{train.name}}</h2>
    </div>
    

    <div class="flex flex-center"> 
        <button type="button" class="btn btn-background-color margin" (click)="firstClass()">First Class</button>
        <button type="button" class="btn btn-background-color margin" (click)="secondClass()">Second Class</button>
        <button type="button" class="btn btn-background-color margin" (click)="sleeping()">Sleeping</button>
    </div>


    <div class="btn-toolbar mt-3 flex flex-center" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group" *ngFor="let seat of seats">
                <div *ngFor="let car of cars">
                    <button type="button" class="btn btn-outline-secondary btn-color margin" [class.btn-occupied-background-color]="seat.occupied"
                    [class.btn-free-background-color]="!seat.occupied" [disabled]="seat.occupied"
                            *ngIf="car.trainId == trainId && seat.carId == car.id && car.type == selectedCarType">{{seat.seatNumber}}</button>
                </div>
                
            </div>
    </div>

</div>  