.navbar-background-color{
    background-color: #012169;
}
.icon-background-color{
    color: black;
}

.li-item-font{
    font-family: 'Montserrat', sans-serif;
}

.font-family-PT{
    font-family: 'PT Sans', sans-serif;
}

.li-item-color{
    color: white;
}

.img-height{
    height: 800px;
}

.text-shadow{
    text-shadow: 1px 1px black;
}