
<nav class="navbar navbar-expand-lg navbar-background-color">

    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon icon-background-color"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active li-item-font li-item-color" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link li-item-font li-item-color" href="#">Book a trip</a>
          </li>

        </ul>
      </div>
    </div>

  </nav>



<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"  
style="background-image: url('https://images2.alphacoders.com/590/590356.jpg');">

<h1 class="mb-3 h2 text-shadow font-family-PT">RailWay Cluj-Napoca</h1>

<p class="text-shadow font-family-PT">
    High-speed rail (HSR) is a type of rail transport that runs significantly faster than traditional rail traffic, 
    using an integrated system of specialized rolling stock and dedicated tracks. While there is no single standard that 
    applies worldwide, new lines in excess of 250 kilometres per hour (160 mph) and existing lines in excess of 200 kilometres 
    per hour (120 mph) are widely considered to be high-speed.
</p>
<p class="text-shadow font-family-PT">
    Find the best trip for you with our high-speed trains.
</p>

</div>